<!DOCTYPE html>
<html>
<head>
    <title>Page Not Found</title>
	<link rel="icon" type="image/x-icon" href="../static/images/favicon.ico">
</head>
<body>
    <h1>404 - Page Not Found</h1>
    <p>The page you requested does not exist.</p>
	<footer style="margin-top: 3rem; padding-top: 1rem; border-top: 1px solid #ccc; font-size: 0.9rem; color: #555;">
	  <p>
		&copy; 2025 RuleKeeper. All rights reserved. |
		<a href="/privacy-policy" style="color: #0066cc; text-decoration: none;">Privacy Policy</a> |
		<a href="/terms-of-service" style="color: #0066cc; text-decoration: none;">Terms of Service</a>
	  </p>
	</footer>
</body>
</html>
